.meetMain-container {
  display: flex;
  margin: 20px;
  background-color: grey;
}

.MeetContent {
  margin: 10px;
}
.MeetContent h1,
h3,
p {
  text-align: start;
}
.player {
  width: 500px;
  height: 400px;
}
@media screen and (max-width: 960px) {
  .meetMain-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: grey;
  }
}
